<html layout:decorate="~{admin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Formulário de Cadastro</h4>
        <p class="card-description">
            Colaborador
        </p>
        <form class="forms-sample">
            <div class="form-group">
                <label for="nomeCompleto">Nome Completo</label>
                <input type="text" class="form-control" id="nomeCompleto" placeholder="Informe o nome do colaborador">
            </div>
            <div class="form-group">
                <label for="emailColaborador">E-mail</label>
                <input type="email" class="form-control" id="emailColaborador" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="exampleSelectGender">Perfil</label>
                <select class="form-select" id="exampleSelectGender">
                    <option>Male</option>
                </select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked="checked"><i class="helper"></i>Ativar colaborador? </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary me-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
        </form>
    </div>
</div>

</body>
</html>